
.text-white {
    color: white;
}

 

#tituloAbaixoMenu{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-top: 2%;
}
#menu{
    background-color:#E5DBD0;
}
